
*.ipch
*.db-shm
*.db
*.db-wal
*.opendb
.vs/Runtime polymorphism and container view/v16/.suo
*.sln
*.filters
*.vcxproj
*.user
*.tlog
*.obj
*.recipe
*.ilk
*.pdb
*.idb
*.log
SFML64/lib/vorbisfile.lib
x64/Debug/sfml-window-d-2.dll
x64/Debug/sfml-system-d-2.dll
x64/Debug/sfml-graphics-d-2.dll
SFML64/lib/vorbisenc.lib
SFML64/lib/vorbis.lib
SFML64/lib/sfml-window.lib
SFML64/lib/sfml-window-s.lib
SFML64/lib/sfml-window-s-d.lib
SFML64/lib/sfml-window-d.lib
SFML64/lib/sfml-system.lib
SFML64/lib/sfml-system-s.lib
SFML64/lib/sfml-system-s-d.lib
SFML64/lib/sfml-system-d.lib
SFML64/lib/sfml-network.lib
SFML64/lib/sfml-network-s.lib
SFML64/lib/sfml-network-s-d.lib
SFML64/lib/sfml-network-d.lib
SFML64/lib/sfml-main.lib
SFML64/lib/sfml-main-d.lib
SFML64/lib/sfml-graphics.lib
SFML64/lib/sfml-graphics-s.lib
SFML64/lib/sfml-graphics-s-d.lib
SFML64/lib/sfml-graphics-d.lib
SFML64/lib/sfml-audio.lib
SFML64/lib/sfml-audio-s.lib
SFML64/lib/sfml-audio-s-d.lib
SFML64/lib/sfml-audio-d.lib
SFML64/lib/openal32.lib
SFML64/lib/ogg.lib
SFML64/lib/freetype.lib
SFML64/lib/flac.lib
SFML64/lib/cmake/SFML/SFMLStaticTargets.cmake
SFML64/lib/cmake/SFML/SFMLStaticTargets-release.cmake
SFML64/lib/cmake/SFML/SFMLStaticTargets-debug.cmake
SFML64/lib/cmake/SFML/SFMLSharedTargets.cmake
SFML64/lib/cmake/SFML/SFMLSharedTargets-release.cmake
SFML64/lib/cmake/SFML/SFMLSharedTargets-debug.cmake
SFML64/lib/cmake/SFML/SFMLConfigVersion.cmake
SFML64/lib/cmake/SFML/SFMLConfigDependencies.cmake
SFML64/lib/cmake/SFML/SFMLConfig.cmake
SFML64/include/SFML/Window/WindowStyle.hpp
SFML64/include/SFML/Window/WindowHandle.hpp
SFML64/include/SFML/Window/Window.hpp
SFML64/include/SFML/Window/VideoMode.hpp
SFML64/include/SFML/Window/Touch.hpp
SFML64/include/SFML/Window/Sensor.hpp
SFML64/include/SFML/Window/Mouse.hpp
SFML64/include/SFML/Window/Keyboard.hpp
SFML64/include/SFML/Window/Joystick.hpp
SFML64/include/SFML/Window/GlResource.hpp
SFML64/include/SFML/Window/Export.hpp
SFML64/include/SFML/Window/Event.hpp
SFML64/include/SFML/Window/Cursor.hpp
SFML64/include/SFML/Window/ContextSettings.hpp
SFML64/include/SFML/Window/Context.hpp
SFML64/include/SFML/Window/Clipboard.hpp
SFML64/include/SFML/Window.hpp
SFML64/include/SFML/System/Vector3.inl
SFML64/include/SFML/System/Vector3.hpp
SFML64/include/SFML/System/Vector2.inl
SFML64/include/SFML/System/Vector2.hpp
SFML64/include/SFML/System/Utf.inl
SFML64/include/SFML/System/Utf.hpp
SFML64/include/SFML/System/Time.hpp
SFML64/include/SFML/System/ThreadLocalPtr.inl
SFML64/include/SFML/System/ThreadLocalPtr.hpp
SFML64/include/SFML/System/ThreadLocal.hpp
SFML64/include/SFML/System/Thread.inl
SFML64/include/SFML/System/Thread.hpp
SFML64/include/SFML/System/String.inl
SFML64/include/SFML/System/Sleep.hpp
SFML64/include/SFML/System/NonCopyable.hpp
SFML64/include/SFML/System/String.hpp
SFML64/include/SFML/System/NativeActivity.hpp
SFML64/include/SFML/System/Mutex.hpp
SFML64/include/SFML/System/InputStream.hpp
SFML64/include/SFML/System/MemoryInputStream.hpp
SFML64/include/SFML/System/Lock.hpp
SFML64/include/SFML/System/FileInputStream.hpp
SFML64/include/SFML/System/Export.hpp
SFML64/include/SFML/System/Err.hpp
SFML64/include/SFML/System/Clock.hpp
SFML64/include/SFML/System.hpp
SFML64/include/SFML/OpenGL.hpp
SFML64/include/SFML/Network/UdpSocket.hpp
SFML64/include/SFML/Network/TcpSocket.hpp
SFML64/include/SFML/Network/TcpListener.hpp
SFML64/include/SFML/Network/SocketSelector.hpp
SFML64/include/SFML/Network/SocketHandle.hpp
SFML64/include/SFML/Network/Socket.hpp
SFML64/include/SFML/Network/Packet.hpp
SFML64/include/SFML/Network/IpAddress.hpp
SFML64/include/SFML/Network/Http.hpp
SFML64/include/SFML/Network/Ftp.hpp
SFML64/include/SFML/Network/Export.hpp
SFML64/include/SFML/Network.hpp
SFML64/include/SFML/Main.hpp
SFML64/include/SFML/Graphics/View.hpp
SFML64/include/SFML/Graphics/VertexBuffer.hpp
SFML64/include/SFML/Graphics/VertexArray.hpp
SFML64/include/SFML/Graphics/Vertex.hpp
SFML64/include/SFML/Graphics/Transformable.hpp
SFML64/include/SFML/Graphics/Transform.hpp
SFML64/include/SFML/Graphics/Texture.hpp
SFML64/include/SFML/Graphics/Text.hpp
SFML64/include/SFML/Graphics/Sprite.hpp
SFML64/include/SFML/Graphics/Shape.hpp
SFML64/include/SFML/Graphics/Shader.hpp
SFML64/include/SFML/Graphics/RenderTexture.hpp
SFML64/include/SFML/Graphics/RenderTarget.hpp
SFML64/include/SFML/Graphics/RenderWindow.hpp
SFML64/include/SFML/Graphics/RenderStates.hpp
SFML64/include/SFML/Graphics/RectangleShape.hpp
SFML64/include/SFML/Audio.hpp
SFML64/include/SFML/Audio/AlResource.hpp
SFML64/include/SFML/Audio/Export.hpp
SFML64/include/SFML/Audio/InputSoundFile.hpp
SFML64/include/SFML/Audio/Listener.hpp
SFML64/include/SFML/Audio/Music.hpp
SFML64/include/SFML/Audio/OutputSoundFile.hpp
SFML64/include/SFML/Audio/Sound.hpp
SFML64/include/SFML/Audio/SoundBuffer.hpp
SFML64/include/SFML/Audio/SoundFileFactory.hpp
SFML64/include/SFML/Audio/SoundFileFactory.inl
SFML64/include/SFML/Audio/SoundBufferRecorder.hpp
SFML64/include/SFML/Audio/SoundFileReader.hpp
SFML64/include/SFML/Audio/SoundFileWriter.hpp
SFML64/include/SFML/Audio/SoundRecorder.hpp
SFML64/include/SFML/Audio/SoundSource.hpp
SFML64/include/SFML/Audio/SoundStream.hpp
SFML64/include/SFML/GpuPreference.hpp
SFML64/include/SFML/Config.hpp
SFML64/include/SFML/Graphics.hpp
SFML64/include/SFML/Graphics/BlendMode.hpp
SFML64/include/SFML/Graphics/CircleShape.hpp
SFML64/include/SFML/Graphics/Color.hpp
SFML64/include/SFML/Graphics/ConvexShape.hpp
SFML64/include/SFML/Graphics/Drawable.hpp
SFML64/include/SFML/Graphics/Export.hpp
SFML64/include/SFML/Graphics/Font.hpp
SFML64/include/SFML/Graphics/Glsl.hpp
SFML64/include/SFML/Graphics/Glsl.inl
SFML64/include/SFML/Graphics/Glyph.hpp
SFML64/include/SFML/Graphics/Image.hpp
SFML64/include/SFML/Graphics/PrimitiveType.hpp
SFML64/include/SFML/Graphics/Rect.hpp
SFML64/include/SFML/Graphics/Rect.inl
*.exe
